
.icon {
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--icon-primary-color);
/*     fill: #4CAF50; */
    height: 48px;
    width: 48px;  
}

svg  {
	fill: currentColor;
	height: 100%;
	width: 100%;
}


.icon--secondary {
	background-repeat: no-repeat;
    background-size: contain;
    color: var(--icon-secondary-color);
/*     fill: #4CAF50; */
    height: 48px;
    width: 48px;  
	
}
