<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Home</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">

        <link rel="stylesheet" type="text/css" th:href="@{/css/variable.css}">

        <link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}">

        <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}">

        <script th:src="@{/javascript/App.js}"></script>

    </head>

    <body onload="App.render()">
        <div class="header">Icon library</div>
        <div class="container" id="container">
            <div class="flex">
                <div class="flex-item flex-item--header">Name</div>
                <div class="flex-item flex-item--header">Primary</div>
                <div class="flex-item flex-item--header">Secondary</div>
            </div>
        </div>

    </body>

</html>