<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">

<link rel="stylesheet" type="text/css" th:href="@{/css/variable.css}">

<link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}">

<link rel="stylesheet" type="text/css" th:href="@{/css/app.css}">

<script th:src="@{/javascript/App.js}"></script>

</head>

<body onload="App.render()" id="container">

	<div class="flex">
		<div class="flex-item flex-item--header">Name</div>
		<div class="flex-item flex-item--header">Primary</div>
		<div class="flex-item flex-item--header">Secondary</div>
	</div>
<!--	<div class="flex">
		<div class="flex-item ">Save</div>
		<div class="flex-item ">
			<div class="icon">
				<svg role="img" title="save">
                    <use xlink:href="/svg/defs.svg#icon-save"></use></svg>
			</div>
		</div>
		<div class="flex-item ">
			<div class="icon icon--secondary">
				<svg role="img" title="save">
                    <use xlink:href="/svg/defs.svg#icon-save"></use></svg>
			</div>
		</div>
	</div>

	<div class="flex">
		<div class="flex-item ">Save fill</div>
		<div class="flex-item ">
			<div class="icon">
				<svg role="img" title="save fill">
                    <use xlink:href="/svg/defs.svg#icon-save--fill"></use></svg>
			</div>
		</div>
		<div class="flex-item ">
			<div class="icon icon--secondary">
				<svg role="img" title="save fill">
                    <use xlink:href="/svg/defs.svg#icon-save--fill"></use></svg>
			</div>
		</div>
	</div>


	<div class="flex">
		<div class="flex-item ">Save round</div>
		<div class="flex-item ">
			<div class="icon">
				<svg role="img" title="save round">
                    <use xlink:href="/svg/defs.svg#icon-save--round"></use></svg>
			</div>
		</div>
		<div class="flex-item ">
			<div class="icon icon--secondary">
				<svg role="img" title="save round">
                    <use xlink:href="/svg/defs.svg#icon-save--round"></use></svg>
			</div>
		</div>
	</div>

	<div class="flex">
		<div class="flex-item ">Edit</div>
		<div class="flex-item ">
			<div class="icon">
				<svg role="img" title="edit">
                    <use xlink:href="/svg/defs.svg#icon-edit"></use></svg>
			</div>
		</div>
		<div class="flex-item">
			<div class="icon icon--secondary">
				<svg role="img" title="edit">
                    <use xlink:href="/svg/defs.svg#icon-edit"></use></svg>
			</div>
		</div>
	</div>-->

</body>

</html>